body{
  background:#BC8181;
}
img{
  text-align: center;
  width: 80%;
  font-size:50px;
  text-decoration: underline;
  margin-left:10%;
  padding:1% 0 1% 0;
}
h3{
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
li{
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  }
  .ul{

    border: 2px solid;
    border-radius:90px;
    padding-top: 100px;
    width: 80%;
    margin-left: 10%;
  }
  @media screen and (max-width:600px) {
  img {
    display: none;
    }
    .ul{

      border: 2px solid;
      border-radius:90px;
      padding-top: 10%;
      width: 80%;
      margin-left: 10%;
    }
}
